.team-page {
  color: white;
  margin-top: 7.5rem;
}

.team-content {
  max-width: 600px;
  margin: 2.5rem 80px;
  margin-bottom: 40px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our-team {
  font-size: 2em;
  line-height: 70px;
  font-weight: bold;
}

.year {
  font-size: 1.7em;
}

@media (max-width: 655px) {
  .year-heading {
    text-align: center;
  }
}
