.team-page {
  color: white;
}

.team-content {
  max-width: 600px;
  margin: 40px 80px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our-team {
  font-size: 2em;
  line-height: 70px;
  font-weight: bold;
}

.year {
  font-size: 1.7em;
}
