.home-content {
  max-width: 600px;
  margin: 20vh auto 60px;
  text-align: center;
  padding: 10px;
}

.home-content .ojas-title {
  margin-bottom: 40px;
  font-size: 4em;
}

.ojas-title span {
  animation: animate 3s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    color: #fff;
    filter: blur(0) hue-rotate(0deg);
    text-shadow:
      0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 60px #00b3ff;
  }

  30%,
  70% {
    color: #fff;
    filter: blur(0) hue-rotate(360deg);
    text-shadow:
      0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 60px #00b3ff;
  }

  100% {
    color: transparent;
    box-shadow: none;
    filter: blur(0) hue-rotate(0deg);
  }
}

.home-content .ojas-desc {
  font-size: 1.6em;
  font-family: Electrolize, sans-serif;
}

.blockquote-wrapper {
  display: flex;
}

.blockquote {
  position: relative;
  max-width: 520px;
  margin: 55px auto;
  align-self: center;
}

.blockquote h1 {
  position: relative;
  color: #c9eeff;
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
  border: 2px solid #fff;
  border: solid 2px;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 0 0.2rem #c9eeff;
}

.blockquote h1::after {
  content: "";
  position: absolute;
  border: 2px solid #c9eeff;
  border-radius: 0 50px 0 0;
  width: 50px;
  height: 60px;
  bottom: -61.4px;
  left: 70px;
  border-bottom: none;
  border-left: none;
  z-index: 3;
}

.blockquote h1::before {
  content: "";
  position: absolute;
  width: 50px;
  border: 5px solid #242424;
  bottom: -9.5px;
  left: 75px;
  z-index: 2;
  box-shadow: none;
  border-radius: 0 0 0 20px;
}

@media (max-width: 630px) {
  .blockquote h1 {
    font-size: 1.3rem;
  }
}
