.home-content {
  max-width: 600px;
  margin: 35vh auto 60px;
  text-align: center;
  padding: 20px;
}

.home-content .ojas-title {
  margin-bottom: 40px;
  font-size: 4em;
}

.ojas-title span {
  animation: animate 3s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    color: #fff;
    filter: blur(0) hue-rotate(0deg);
    text-shadow:
      0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 60px #00b3ff;
  }

  30%,
  70% {
    color: #fff;
    filter: blur(0) hue-rotate(360deg);
    text-shadow:
      0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 60px #00b3ff;
  }

  100% {
    color: transparent;
    box-shadow: none;
    filter: blur(0) hue-rotate(0deg);
  }
}

.home-content .ojas-desc {
  font-size: 1.6em;
  font-family: Electrolize, sans-serif;
}
