.project-card {
  width: 18vw;
  height: 400px;
  background: #2b2b2b;
  border-radius: 20px;
  text-align: center;
  transition: 0.5s;
  margin: 30px 60px;
  min-width: 270px;
  box-shadow: 0 0 1rem #a259ff;
  z-index: 1;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 100px 0;
}

.project-heading {
  margin: 10px 0;
  font-size: 1.5rem;
}

.project-desc {
  padding: 5px;
  font-size: 0.85rem;
}
