.card {
  height: 250px;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 60px;
  align-items: center;
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  transform: scale(1);
  transition: 0.5s ease;
}

.card-img {
  width: 125px;
  height: 125px;
  border-radius: 100px;
}

.card-name {
  font-size: 1.2em;
}

.card:hover {
  transform: scale(1.1);
}

.socials {
  position: absolute;
  top: 56%;
  opacity: 1;
  transition: 1s;
  color: #fff;
}
