* {
  color: white;
}

.projects-container {
  padding-bottom: 60px;
}

.content {
  max-width: 600px;
  margin: 30px 80px 60px;
}

img {
  width: 55vw;
  height: 410px;
  position: relative;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  height: 410px;
  width: 55vw;
  text-align: center;
  background: rgb(191 65 202 / 10%);
  border-radius: 20px;
  word-wrap: break-word;
  padding: 12% 20px 40px;
}

.overlay h2 {
  padding-bottom: 20px;
}

@media (max-width: 475px) {
  .overlay h2 {
    padding-bottom: 20px;
    font-size: 1em;
  }

  .overlay {
    padding-top: 8%;
  }
}
