* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  user-select: none;
}

.app-class {
  position: absolute;
  height: 96%;
  z-index: 2;
  width: 100%;
}

.nav-div {
  z-index: 9;
}
