.event-card {
  width: 20vw;
  height: 400px;
  background: #3b3b3b;
  border-radius: 20px;
  text-align: center;
  transition: 0.5s;
  margin: 30px 40px;
  min-width: 270px;
}

.event-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.event-heading {
  margin: 10px 0;
  font-size: 1.5rem;
}

.event-desc {
  padding: 5px;
  font-size: 0.85rem;
}

.event-card:hover {
  box-shadow: 0 0 1.4rem #a259ff;
  transition: 0.5s;
}
