.about-us-content {
  text-align: center;
  margin: 90px auto;
  margin-bottom: 0;
  max-width: 900px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #a259ff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #a259ff;
  position: relative;
}

.team-img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 70%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 945px) {
  .about-us-content {
    margin: 90px 10px;
  }
}

@media (max-width: 490px) {
  .team-img {
    margin-top: 3rem;
    width: 100%;
  }

  .about-us-content {
    margin: 90px 1rem;
  }
}
